# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# ==============================
# own stuff
# ==============================

# Local binaries
/Debug/
/Release/
/generate_password_hash/Debug/
/generate_password_hash/Release/
/Lol_login_v1/Debug/
/Lol_login_v1/Release/

# Examples for local systemvariables files
/resource_examples/

# Password and SystemVariables files
/generate_password_hash/pass.txt
/Lol_login_v1/pass.txt
/Lol_login_v1/systemvariables.txt

